.body {
    box-sizing: border-box;
}

/* Small devices (mobile, 767px) */
@media (max-width: 767px) { ... }

/* Medium devices (tablet, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) { ... }
    .row {
        float: auto;
    }
    .section {
        width: 50%;
        float: left;
    }
    #section1 {
        background-color:chartreuse;
    }
    #section2 {
        background-color:aquamarine;
    }
    #section3 {
        background-color:coral;
        width: 100%;
    }

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
    .row {
        float: auto;
    }
    .section {
        width: 30%;
        float: left;
    }
    #section1 {
        background-color:chartreuse;
    }
    #section2 {
        background-color:aquamarine;
    }
    #section3 {
        background-color:coral;
    }
    
}